.formulario {
    max-width: 500px;
    padding: 5px;
    overflow: auto;
}
.formulario form{
    max-width: 500px;
}
.formulario form p {
    padding: 12px 0;
    margin-bottom: 20px;
}
form label {
    cursor: pointer;
    text-align: left;
}
form input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid;
    font-size: 14px;
    color: black;
    margin-right: 70px;
}
form .dadosPessoais {
    display: flex;
    gap: 20px;
}
.dadosPessoais div,
.mensagem div {
    display: flex;
    flex-direction: column;
}
.dadosPessoais div input,
.mensagem div input {
    padding: 5px 1px;
    margin-bottom: 10px;
}
.tam-max-txt{
    padding: 2px 0;
    overflow-x: hidden;
    margin-bottom: 5px;
}
textarea{
    width: 100%;
    resize: none;
    height: 50px;
    padding: 5px 25px 5px 5px;
    border: none;
    font-size: 14px;
    background-color: #e6e6e6;
}
.mensagem button {
    padding: 10px;
    color: #fff;
    background-color: #121212;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.mensagem button:hover {
    background-color: #000;
    box-shadow: 0px 0px 10px #00000080;
}
@media screen and (max-width: 500px) {
    form .dadosPessoais {
        flex-direction: column;
    }
}