.box{
    width: 220px;
    height: 370px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    padding: 10px 5px;
    width: 200px;
    height: 340px;
    background-color: #121212;
    box-shadow: 0px 0px 10px 5px #0000001e;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    transition: .4s;
}
.card:hover{
    width: 220px;
    height: 370px;
    box-shadow: 0px 0px 10px 5px #0000001e;
}
.card a{
    background-color: #F0ED40;
    padding: 7px 17px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    box-shadow: 0px 0px 5px 2px #0000004d;
}
.card div{
    background-color: #fff;
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-radius: 5px;
}
.card div img{
    width: 80%;
    height: 100%;
}
.card p{
    font-size: 14px;
    padding:0 10px;
}
.card p span{
    font-weight: bold;
}