footer{
    background-color: #F0ED40;
}
footer .tam-max{
    max-width: 1366px;
    padding: 20px 60px;
}
.tam-max .contatos{
    padding: 20px 0;
    width: 100%;
    display: flex;
    text-align: left;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}
/*Localizão, endereço*/
.contatos .localizacao{
    line-height: 42px;
}
.localizacao h2{
    margin-bottom: 20px;
}
.contatos .localizacao p:first-of-type{
    line-height: normal;
    margin-bottom: -8px;
    position: relative;
}
.contatos .localizacao p span::before{
    content: "";
    position: absolute;
    width: 11px;
    height: 3px;
    bottom: 0;
    border-radius: 4px;
    background: linear-gradient(90deg,#000, #F0ED40 );
}
/*Todos os Links*/
.contatos a{
    text-decoration: none;
}
.contatos a:hover{
    text-decoration: underline;
}
.contatos .localizacao a{
    color: #000;
    padding: 5px;
    border-radius: 2px;
}
/*Redes sociais*/
.contatos .redesSociais{
    display: flex;
    flex-direction: column;
}
.redesSociais span{
    padding: 12px 0;
    background-color: #F0ED40;
    margin-bottom: 20px;
}
.redesSociais a{
    margin: 2px 0;
    line-height: 24px;
    color: #000;
    display: flex;
    align-items: center;
    gap: 5px;
}
.redesSociais a img{
    width: 20px;
}