/*Configurações gerais*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
.tam-max{
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}
h2{
  font-size: 28px;
}